<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booking">
	
	<!-- 난수 생성 -->	
	<select id="reservationNumber" parameterType="String" resultType="String">
		SELECT LPAD(ROUND(DBMS_RANDOM.VALUE(0, 1) *1000000000000), 12, '0') from dual
	</select>
	<!-- 프로모션 읽어오기 -->
	<select id="readTravel" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pd.pmCode, TO_CHAR(pmStartDate, 'YYYY-MM-DD') pmStartDate, pmEndDate, pmTitle, pmPrice, pmMaxCount, 
			product, productContent, p.traincode, p.startStation, p.endStation
		FROM promotionDetail pd
		JOIN promotion p ON pd.pmCode = p.pmCode
		WHERE pd.pmCode = #{pmCode} AND (p.traincode = #{startTrain} OR p.traincode = #{endTrain})
	</select>
		
	<select id="readCrew" parameterType="map" resultType="com.et.booking.Booking">
		SELECT crewName, crewTel, crewEmail, crewBirth
		FROM crew
		WHERE crewId=#{crewId}
	</select>
	
	<!-- 예약 -->
	<select id="setPrcode" resultType="Integer">
		SELECT pmreservationseq_seq.NEXTVAL FROM dual
	</select>
	<select id="setPrcode1" resultType="Integer">
		SELECT pmreservation_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertReservation" parameterType="com.et.booking.Booking">
			INSERT INTO 
			pmReservation(prCode, prSeq, pmCode, pmStartDate, adult, child, oldMan, prPersonnel, product, productUserCount, crewId, prReservationDate, prPayment, trainCode, reservationNumber)
			VALUES( #{prCode}, #{prSeq}, #{pmCode}, #{pmStartDate}, #{adult}, #{child}, #{oldMan}, #{prPersonnel}, #{product}, #{productUserCount}, #{crewId}, SYSDATE, 0, #{trainCode}, #{reservationNumber})
	</insert>
	<insert id="insertReservation1" parameterType="com.et.booking.Booking">
			INSERT INTO 
			pmReservation(prCode, prSeq, pmCode, pmStartDate, adult, child, oldMan, prPersonnel, product, productUserCount, crewId, prReservationDate, prPayment, trainCode, reservationNumber)
			VALUES( #{prCode}, #{prSeq}, #{pmCode}, #{pmEndDate}, #{adult1}, #{child1}, #{oldMan1}, #{prPersonnel}, #{product}, #{productUserCount}, #{crewId}, SYSDATE, 0, #{trainCode1}, #{reservationNumber})
	</insert>
	
	<update id="updatePayDate" parameterType="Integer">
		UPDATE pmReservation SET prPaymentDate = SYSDATE+3 WHERE prSeq = #{prSeq}
	</update>
	
	<insert id="insertTrain" parameterType="com.et.booking.Booking">
		INSERT INTO pmReservationTrain( ptCode, prCode, trCode, trainCode, prPersonnel, prTrainName, prStartStation, roomGrade, roomNum, prEndStation, prTrainSeat, prAddPrice)
		VALUES( pmReservationTrain_seq.NEXTVAL, #{prCode}, #{trCode}, #{trainCode}, #{prPersonnel}, #{trainName}, #{startStation}, #{roomGrade}, #{prStartRoom}, #{endStation}, #{prStartTrainSeat},  #{prAddPrice})
	</insert>
	<insert id="insertTrain1" parameterType="com.et.booking.Booking">
		INSERT INTO pmReservationTrain( ptCode, prCode, trCode, trainCode, prPersonnel, prTrainName, prStartStation, roomGrade, roomNum, prEndStation, prTrainSeat, prAddPrice)
		VALUES( pmReservationTrain_seq.NEXTVAL, #{prCode}, #{trCode}, #{trainCode1}, #{prPersonnel}, #{trainName1}, #{startStation1}, #{roomGrade1}, #{prEndRoom}, #{endStation1}, #{prEndTrainSeat} , #{prAddPrice1})
	</insert>
	
	<!-- trainreservation 시퀀스 가져오기 -->
	<select id="trainreservationSeq" resultType="Integer">
		SELECT trainreservation_seq.NEXTVAL FROM dual
	</select>
	
	<!-- reservedSeat 시퀀스 가져오기 -->
	<select id="reservedSeatSeq" resultType="Integer">
		SELECT reservedSeat_seq.NEXTVAL FROM dual
	</select>
	
	<!-- 기차(좌석)예약하기 -->
	<insert id="reservationTrain" parameterType="com.et.booking.Booking">
		INSERT INTO trainreservation(trCode, trPrice, trDate, crewId, promotion) VALUES(#{trCode},#{prAddPrice} ,#{pmStartDate}, #{crewId}, 1)
	</insert>
	
	<insert id="reservationTrain1" parameterType="com.et.booking.Booking">
		INSERT INTO trainreservation(trCode, trPrice, trDate, crewId, promotion) VALUES(#{trCode},#{prAddPrice1} ,#{pmEndDate}, #{crewId}, 1)
	</insert>
	
	<insert id="insertReservationInfo" parameterType="com.et.booking.Booking">
		INSERT INTO trReservationInfo(trCode, startCode, endCode, trainCode) VALUES(#{trCode},#{startCode},#{endCode},#{trainCode})
	</insert>
	
	<insert id="insertReservationInfo1" parameterType="com.et.booking.Booking">
		INSERT INTO trReservationInfo(trCode, startCode, endCode, trainCode) VALUES(#{trCode},#{endCode},#{startCode},#{trainCode1})
	</insert>
	
	<insert id="insertReservedSeat" parameterType="com.et.booking.Booking">
		INSERT INTO reservedSeat(rsSeatCode, seatNum, trCode, seatType, seatPay, roomNum, trainCode) 
		VALUES(#{rsSeatCode},#{seatNum},#{trCode},#{seatType},#{prAddPrice},#{prStartRoom},#{trainCode})
	</insert>
	
	<insert id="insertReservedSeat1" parameterType="com.et.booking.Booking">
		INSERT INTO reservedSeat(rsSeatCode, seatNum, trCode, seatType, seatPay, roomNum, trainCode) 
		VALUES(#{rsSeatCode},#{seatNum},#{trCode},#{seatType},#{prAddPrice1},#{prEndRoom},#{trainCode1})
	</insert>
	
	<!-- 예약 목록 불러오기 -->
	<select id="readReservation" parameterType="map" resultType="com.et.booking.Booking">
		SELECT DISTINCT pr.prCode, pr.prSeq, pr.pmCode, TO_CHAR(pr.pmStartDate, 'YYYY-MM-DD') pmStartDate, pr.adult, pr.child, pr.oldMan, pr.prPersonnel, pr.product, pr.productUserCount, pr.crewId, pr.prReservationDate,pr.prPaymentDate, pr.trainCode,
			    pr.prPayment, pr.reservationNumber, pd.pmTitle, pd.pmPrice, pd.productContent, p.startStation, p.endStation, c.crewName, c.crewEmail, c.crewTel, c.crewBirth, pt.roomGrade, pt.roomNum, pt.prAddPrice, pt.prTrainSeat
		FROM pmReservation pr
		JOIN promotionDetail pd ON pd.pmCode = pr.pmCode
		JOIN promotion p ON pr.trainCode = p.trainCode AND pd.pmCode = p.pmCode
		JOIN crew c ON pr.crewId = c.crewId
		JOIN pmReservationTrain pt ON pr.prCode = pt.prCode AND pr.trainCode = pt.trainCode
		WHERE pr.prSeq = #{prSeq} AND pr.crewId = #{crewId}
	</select>
	<select id="readPromotionImage" parameterType="Integer" resultType="String">
		SELECT DISTINCT saveFileName FROM pmReservation pr JOIN promotionFile pf ON pf.pmCode = pr.pmCode WHERE prSeq = #{prSeq}
	</select>
	
	<select id="listStation" resultType="com.et.travel.Station">
		SELECT sCode, sName, line, lineOrder, engName
		FROM station6
		ORDER BY sCode DESC
	</select>

	<select id="readPromotion" parameterType="String" resultType="com.et.travel.Travel">
		SELECT pmCode, trainCode
		FROM promotion
		WHERE pmCode= #{trainCode};
	</select>
	
	<!-- 결제 -->
	<update id="updatePrPayment" parameterType="Integer">
		UPDATE pmReservation SET prPayment = 1 WHERE prSeq=#{prSeq}
	</update>
	<!-- 예약 취소 -->
	<select id="readForCancle" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pr.prCode, pr.prSeq, pr.pmCode, TO_CHAR(pr.pmStartDate, 'YYYY-MM-DD') pmStartDate, pr.adult, pr.child, pr.oldMan, pr.prPersonnel, product, productUserCount, pr.crewId, pr.prReservationDate, pr.trainCode,
			   reservationNumber, pt.trCode
		FROM pmReservation pr 
		JOIN pmReservationTrain pt ON pr.prCode = pt.prCode
		WHERE prSeq = #{prSeq} AND crewId = #{crewId}
	</select>
	
	<delete id="deleteReservation" parameterType="com.et.booking.Booking">
		DELETE FROM pmReservation WHERE prSeq = #{prSeq}
			AND crewId = #{crewId}
	</delete>
	<delete id="deleteTrain" parameterType="Integer">
		DELETE FROM pmReservationTrain WHERE prCode = #{prCode}
	</delete>
	<update id="reFundUpdate" parameterType="Integer">
		UPDATE reservedSeat SET reFund = 1 WHERE trCode = #{trCode}
	</update>
	<select id=""></select>
	
	<!-- 관리자 강제 예약 취소  -->
	<select id="adminCancle" parameterType="map" resultType="com.et.booking.Booking">
		SELECT prCode, prSeq, pmCode, TO_CHAR(pmStartDate, 'YYYY-MM-DD') pmStartDate, adult, child, oldMan, prPersonnel, product, productUserCount, crewId, prReservationDate, trainCode,
			   reservationNumber
		FROM pmReservation WHERE prSeq = #{prSeq} 
	</select>
	<delete id="deleteReservationAdmin" parameterType="map">
		DELETE FROM pmReservation WHERE prSeq = #{prSeq}
	</delete>
	<!-- 예약 리스트 출력 -->
	<select id="reservationCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM pmReservation pr
		JOIN promotionDetail pd ON pd.pmCode = pr.pmCode
		JOIN promotion p ON pr.trainCode = p.trainCode AND pd.pmCode = p.pmCode
		JOIN crew c ON pr.crewId = c.crewId
		JOIN pmReservationTrain pt ON pr.prCode = pt.prCode AND pr.trainCode = pt.trainCode
	</select>
	
	<select id="listReservation" parameterType="map" resultType="com.et.booking.Booking">
		SELECT DISTINCT pr.prCode, pr.prSeq, pr.pmCode, TO_CHAR(pr.pmStartDate, 'YYYY-MM-DD') pmStartDate, pr.adult, pr.child, pr.oldMan, pr.prPersonnel, pr.product, pr.productUserCount, pr.crewId, pr.prReservationDate,pr.prPaymentDate, pr.trainCode,
			    pr.prPayment, pr.reservationNumber, pd.pmTitle, pd.pmPrice, pd.productContent, p.startStation, p.endStation, c.crewName, c.crewEmail, c.crewTel, c.crewBirth, pt.roomGrade, pt.roomNum, pt.prAddPrice, pt.prTrainSeat
		FROM pmReservation pr
		JOIN promotionDetail pd ON pd.pmCode = pr.pmCode
		JOIN promotion p ON pr.trainCode = p.trainCode AND pd.pmCode = p.pmCode
		JOIN crew c ON pr.crewId = c.crewId
		JOIN pmReservationTrain pt ON pr.prCode = pt.prCode AND pr.trainCode = pt.trainCode
		ORDER BY pr.prCode DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

	<select id="listReservation2" parameterType="String" resultType="com.et.booking.Booking">
		SELECT DISTINCT pr.prSeq, pr.prreservationdate, pr.prPersonnel, pr.product, pr.productUserCount, pr.prPayment, pr.reservationNumber, pr.crewId, pd.pmTitle, c.crewName
		FROM pmReservation pr
		JOIN promotionDetail pd ON pd.pmCode = pr.pmCode
		JOIN crew c ON pr.crewId = c.crewId
		JOIN pmReservationTrain pt ON pr.prCode = pt.prCode AND pr.trainCode = pt.trainCode 
		where c.crewId = #{crewId}
		ORDER BY pr.prSeq DESC
	</select>
	
	<select id="myPromotionList" parameterType="map" resultType="com.et.booking.Booking">
	SELECT DISTINCT pr.prCode, pr.prSeq, pr.pmCode, TO_CHAR(pr.pmStartDate, 'YYYY-MM-DD') pmStartDate, pr.adult, pr.child, pr.oldMan, pr.prPersonnel, pr.product, pr.productUserCount, pr.crewId, pr.prReservationDate,pr.prPaymentDate, pr.trainCode,
		   pr.prPayment, pr.reservationNumber, pd.pmTitle, pd.pmPrice, p.startStation, p.endStation, c.crewName, pt.praddPrice
	FROM pmReservation pr
	JOIN promotionDetail pd ON pd.pmCode = pr.pmCode
	JOIN promotion p ON pr.trainCode = p.trainCode AND pd.pmCode = p.pmCode
	JOIN crew c ON pr.crewId = c.crewId
	JOIN pmReservationTrain pt ON pr.prCode = pt.prCode AND pr.trainCode = pt.trainCode
	WHERE pr.crewId = #{crewId}
	ORDER BY pr.prCode DESC
	</select>
	<!--  짝수 : 하행선 -->
	<select id="startlist1" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pmCode, startStation, endStation
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND MOD(p.trainCode,2) = 0
	</select>
	
	<select id="startlist2" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pmCode, p.trainCode, trainName, startStation, endStation, ${startStation} startTime, ${endStation} endTime
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND MOD(p.trainCode,2) = 0
	</select>
	
	<!-- 홀수 : 상행선 -->
	<select id="endlist1" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pmCode, startStation, endStation
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND MOD(p.trainCode,2) = 1
	</select>
	
	<select id="endlist2" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pmCode, p.trainCode, trainName, startStation, endStation, ${endStation} endTime, ${startStation} startTime
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND MOD(p.trainCode,2) = 1
	</select>
	
	<!-- 기차 시간, 이름 가져오기 -->
	<select id="getTrain">
		SELECT pmCode, p.trainCode, startStation, endStation
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND p.trainCode = #{trainCode}
	</select>
	<select id="getKoreaStart" parameterType="String" resultType="String">
		SELECT sName FROM station6 WHERE engName = #{startStation}
	</select>
	
	<select id="getKoreaEnd" parameterType="String" resultType="String">
		SELECT sName FROM station6 WHERE engName = #{endStation}
	</select>
	
	<select id="getEngStart" parameterType="String" resultType="String">
		SELECT engName FROM station6 WHERE sName = #{startStation}
	</select>
	<select id="getEngStart1" parameterType="String" resultType="String">
		SELECT engName FROM station6 WHERE sName = #{startStation1}
	</select>
	
	<select id="getEngEnd" parameterType="String" resultType="String">
		SELECT engName FROM station6 WHERE sName = #{endStation}
	</select>
	
	<select id="getEngEnd1" parameterType="String" resultType="String">
		SELECT engName FROM station6 WHERE sName = #{endStation1}
	</select>
	
	<select id="trainRead" parameterType="map" resultType="com.et.booking.Booking">
		SELECT pmCode, p.trainCode, trainName, startStation, endStation, ${startStation} startTime , ${endStation} endTime
		FROM promotion p
		JOIN stationline7 t ON p.traincode = t.traincode
		WHERE pmCode = #{pmCode} AND p.trainCode = #{trainCode}
	</select>

	<!-- 역 코드로 변환 -->
	<select id="readStationCode" parameterType="com.et.booking.Booking" resultType="String">
		SELECT sCode FROM station6 WHERE engName = #{startStation}
	</select>
	
	<select id="readStationCode1" parameterType="com.et.booking.Booking" resultType="String">
		SELECT sCode FROM station6 WHERE engName = #{endStation}
	</select>
	<select id="readStationCode2" parameterType="com.et.booking.Booking" resultType="String">
		SELECT sCode FROM station6 WHERE engName = #{startStation1}
	</select>
	
	<select id="readStationCode3" parameterType="com.et.booking.Booking" resultType="String">
		SELECT sCode FROM station6 WHERE engName = #{endStation1}
	</select>
		
	<!-- 요금 가져오기 -->
	<select id="readsPay" parameterType="com.et.booking.Booking" resultType="Integer">
		SELECT (seat2 - seat1) prAddprice FROM spay7
		WHERE startCode=#{startCode} AND endCode=#{endCode} AND trainCategory=#{trainName}
	</select>
	<select id="readsPay1" parameterType="com.et.booking.Booking" resultType="Integer">
		SELECT (seat2 - seat1) prAddprice FROM spay7
		WHERE startCode=#{startCode} AND endCode=#{endCode} AND trainCategory=#{trainName}
	</select>
	
	<!-- 최대인원 업데이트 -->
	<update id="updateStock" parameterType="com.et.booking.Booking">
		UPDATE promotionDetail SET stock = stock+#{prPersonnel} WHERE pmCode = #{pmCode}
	</update>
	
	<update id="updateStock1" parameterType="com.et.booking.Booking">
		UPDATE promotionDetail SET stock = stock-#{prPersonnel} WHERE pmCode = #{pmCode}
	</update>
	
</mapper>