<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">
	<!-- 시간표추가 -->
	<insert id="insertTimeTable" parameterType="com.et.timeTable.TimeTable">
		insert into timeTable(traincode, firstcode, lastcode, firsttime)
		values(#{traincode}, #{firstcode}, #{lastcode}, #{firsttime})
	</insert>

	<!-- 시간표리스트 -->
	<select id="listTimeTable" parameterType="map" resultType="com.et.timeTable.TimeTable">
		select ttcode, traincode, firstcode, lastcode, firsttime from timeTable
	</select>
	
	<!-- 카운터 -->
	<select id="timetableCount" parameterType="map" resultType="Integer">
		select NVL(count(*), 0) from timetable
	</select>
</mapper>