<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">
	<insert id="insertTimeTable" parameterType="com.et.timetable.TimeTable">
		INSERT INTO stationline6(scode, traincode, trainname, HAENGSIN, YONGSAN, GWANGMYEONG, CHEONANASAN, OSONG,
		 GONGJU, SEODAEJEON, GYERYONG, NONSAN, IKSAN, JEONGEUP, GWANGJUSONGJEONG, NAJU, MOKPO)
			VALUES (stationline2_seq.NEXTVAL, #{traincode}, UPPER(#{trainname}), #{haengsin}, #{yongsan}, #{gwangmyeong}, #{cheonanasan}, #{osong},
			#{gongju},#{seodaejeon}, #{gyeryong}, #{nonsan}, #{iksan}, #{jeongeup}, #{gwangjusongjeong}, #{naju}, #{mokpo})
	</insert>
	
	<insert id="insertTrain" parameterType="com.et.timetable.TimeTable">
		INSERT INTO train7(traincode, trcategory, emcode)
		VALUES (#{traincode}, #{trainname}, #{employee})
	</insert>
	
	<select id="dataCount" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM stationline6
	</select>
	
	<select id="listTimeTable" parameterType="map" resultType="com.et.timetable.TimeTable">
		SELECT sl.scode, sl.traincode, trainname, p.ptcategory, HAENGSIN, YONGSAN, GWANGMYEONG, CHEONANASAN, OSONG,
		 GONGJU, SEODAEJEON, GYERYONG, NONSAN, IKSAN, JEONGEUP, GWANGJUSONGJEONG, NAJU, MOKPO
         from stationline6 sl 
         join train6 tr on sl.traincode = tr.traincode
         join employee e on e.emcode = tr.emcode
         join position p on e.ptcode = p.ptcode
		ORDER BY scode
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	
	<select id="readTimeTable" parameterType="String" resultType="com.et.timetable.TimeTable">
		SELECT sl.scode, sl.traincode, trainname, p.ptcategory, HAENGSIN, YONGSAN, GWANGMYEONG, CHEONANASAN, OSONG,
		 GONGJU, SEODAEJEON, GYERYONG, NONSAN, IKSAN, JEONGEUP, GWANGJUSONGJEONG, NAJU, MOKPO
         from stationline6 sl 
         join train6 tr on sl.traincode = tr.traincode
         join employee e on e.emcode = tr.emcode
         join position p on e.ptcode = p.ptcode
		WHERE scode=#{scode}
	</select>
	
	<update id="updateTimeTable" parameterType="com.et.timetable.TimeTable">
		UPDATE stationline6 SET traincode=#{traincode}, trainname=#{trainname}, HAENGSIN=#{haengsin}, YONGSAN=#{yongsan}, GWANGMYEONG=#{gwangmyeong}, CHEONANASAN=#{cheonanasan}, OSONG=#{osong},
		 GONGJU=#{gongju}, SEODAEJEON=#{seodaejeon}, GYERYONG=#{gyeryong}, NONSAN=#{nonsan}, IKSAN=#{iksan}, JEONGEUP=#{jeongeup}, GWANGJUSONGJEONG=#{gwangjusongjeong}, NAJU=#{naju}, MOKPO=#{mokpo}  
		WHERE scode=#{scode}
	</update>
	
	<delete id="deleteTimeTable" parameterType="String">
		DELETE FROM stationline6 WHERE scode=#{scode}
	</delete>
	
	
	
	
	
	
	
	
</mapper>