<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trainsales">

	<!-- 일별 -->
	<select id="listDay" parameterType="map" resultType="com.et.admin.trainsales.TrainSales">
		SELECT TO_CHAR(trPaydate,'YYYY/MM/DD')as trPayDate,COUNT(tr.trCode) count, SUM(rs.seatpay) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
		      TO_CHAR(trPaydate, 'YYYYMM') = #{keyword}
		GROUP BY TO_CHAR(trPaydate,'YYYY/MM/DD')
		ORDER BY trPaydate ASC
	</select>
	
	<!-- 월별 -->
	<select id="listMonth" parameterType="map" resultType="com.et.admin.trainsales.TrainSales">
		SELECT '01' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='01'	
	    UNION ALL
		SELECT '02' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='02'		    
	    UNION ALL
		SELECT '03' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='03'			
	    UNION ALL
		SELECT '04' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='04'			
	    UNION ALL
		SELECT '05' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='05'			
	    UNION ALL
		SELECT '06' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='06'	
	    UNION ALL
		SELECT '07' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='07'
	    UNION ALL
		SELECT '08' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='08'			
	    UNION ALL
		SELECT '09' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='09'			
	    UNION ALL
		SELECT '10' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = 2020 AND TO_CHAR(trPaydate,'MM')='10'			
	    UNION ALL
		SELECT '11' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='11'			
	    UNION ALL
		SELECT '12' trPayDate,COUNT(tr.trCode) count, NVL(SUM(rs.seatpay), 0) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
			  TO_CHAR(trPaydate, 'YYYY') = #{keyword} AND TO_CHAR(trPaydate,'MM')='12'			
		ORDER BY trPayDate ASC
	</select>
	
	<!-- 년별 -->
	<select id="listYear" parameterType="map" resultType="com.et.admin.trainsales.TrainSales">
		SELECT TO_CHAR(trPaydate,'YYYY')as trPayDate,COUNT(tr.trCode) count, SUM(rs.seatpay) seatPay
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND
			  tr.promotion = 0 AND
		 	 (TO_CHAR(trPaydate,'YYYY') >= (TO_CHAR(SYSDATE, 'YYYY') - 4 ) )
		GROUP BY TO_CHAR(trPaydate,'YYYY')
		ORDER BY trPaydate DESC
	</select>
	
	<select id="listpersonType" resultType="com.et.admin.trainsales.TrainpersonType">
	SELECT COUNT(CASE WHEN rs.seattype='성인' THEN 1 END)as adult,
		COUNT(CASE WHEN rs.seattype='어린이' THEN 1 END)as child,
		COUNT(CASE WHEN rs.seattype='경로' THEN 1 END)as old,
		COUNT(CASE WHEN rs.seattype='중증장애인' THEN 1 END)as sd,
		COUNT(CASE WHEN rs.seattype='경증장애인' THEN 1 END)as md
		FROM reservedSeat rs
		JOIN trainreservation tr ON tr.trCode = rs.trCode
		WHERE rs.refund IS NULL AND tr.promotion = 0
	</select>
	
</mapper>