<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="train">

	<!-- 기차 추가(총 칸, 총 좌석 입력) -->
	<insert id="insertTrain" parameterType="com.et.train.Train">
		INSERT INTO putTrain(trainNum ,trainCode, trainName, trainRoomCount, trainSeatCount)
					VALUES(putTrain_seq.NEXTVAL ,#{trainCode}, #{trainName}, #{trainRoomCount}, #{trainSeatCount})
	</insert>
	
	<insert id="insertRoom" parameterType="com.et.train.Train">
		INSERT INTO trainSeting(roomCode, trainCode, roomNum, roomGrade, seatRow, seatColumn) VALUES(trainSeting_seq.NEXTVAL, #{trainCode}, #{roomNum}, #{roomGrade}, #{seatRow}, #{seatColumn})
	</insert>
	<select id="readTrain" parameterType="String" resultType="com.et.train.Train">
		SELECT pt.trainCode, trainName, trainRoomCount, trainSeatCount, roomCode, roomGrade 
		FROM putTrain  pt
		JOIN trainSeting ts ON pt.trainCode = ts.trainCode
		WHERE trainCode=#{trainCode}
	</select>
	<select id="listTrain" parameterType="map" resultType="com.et.train.Train">
		SELECT trainCode, trainName, trainRoomCount, trainSeatCount  FROM putTrain
	</select>
	
	<select id="trainCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM putTrain 
	</select>
	<update id="totalSeatCount" parameterType="map">
		UPDATE putTrain SET trainSeatCount=#{trainSeatCount} WHERE trainCode = #{trainCode}
	</update>
</mapper>