<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="train">

	<!-- 기차 추가(총 칸, 총 좌석 입력) -->
	<insert id="insertCategory" parameterType="com.et.train.Train">
		INSERT INTO trainCategory(trainCategory) VALUES (#{trainCategory})
	</insert>
	<insert id="insertRoom" parameterType="com.et.train.Train">
		INSERT INTO trainSetting(trainCategory, roomNum, roomGrade, seatRow, seatColumn) VALUES(#{trainCategory}, #{roomNum}, #{roomGrade}, #{seatRow}, #{seatColumn})
	</insert>

	<select id="listTrain" parameterType="map" resultType="com.et.train.Train">
		SELECT trainCategory, trainRoomCount, trainSeatCount  FROM trainCategory
	</select>
	
	<select id="trainCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM trainCategory 
	</select>
	<update id="totalSeatCount" parameterType="map">
		UPDATE trainCategory SET trainSeatCount=#{trainSeatCount} WHERE trainCategory = #{trainCategory}
	</update>
</mapper>