<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="train">

	<!-- 기차 추가(총 칸, 총 좌석 입력) -->
	<insert id="insertCategory" parameterType="String">
		INSERT INTO trainCategory(trCategory) VALUES (#{trCategory})
	</insert>
	<insert id="insertRoom" parameterType="com.et.train.Train">
		INSERT INTO trainSetting(trCategory, roomNum, trainSeq,roomGrade, seatRow, seatColumn) VALUES(#{trCategory}, #{roomNum}, trainSetting_seq.NEXTVAL,
		#{roomGrade}, #{seatRow}, #{seatColumn})
	</insert>

	<select id="listTrain" parameterType="map" resultType="com.et.train.Train">
		SELECT trainSeq, trCategory, COUNT(roomNum) trainRoomCount, SUM(seatRow*seatColumn) trainSeatCount FROM trainSetting group by trainSeq,trCategory
	</select>

</mapper>