@charset "UTF-8";

a{
	text-decoration: none;
	color: black;
}

a:hover, a:active{
}

#board_title{
	font-weight: bold;
	font-size: 40px;
	height: 60px;
}

#board_main{
	width : 800px;
	min-height: 750px;
}

#board_page{
	text-align: right;	
}

#board_form1{
	width: 100%;
	
}

#board_form1 li{
	height: 40px;
	font-weight: 550;
	background: #21373F;
	color: white;
	text-align: center;
	float: left;
	padding-top: 5px;
}

.board_form1_1{width: 10%;}
.board_form1_2{width: 40%;}
.board_form1_3{width: 15%;}
.board_form1_4{width: 25%;}
.board_form1_5{width: 10%;}

#board_subnum{
	width: 10%;
}

#board_subtitle{
	width: 40%;
}

#board_subwriter{
	width: 15%;
}

#board_subcreated{
	width: 25%;
}

#board_subcount{
	width: 10%;
}

#board_form2 li{
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#board_subnum_list{
	clear:both;
	float: left;
	width: 10%;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

#board_subtitle_list{
	float: left;
	width: 40%;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#board_subwriter_list{
	float: left;
	width: 15%;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#board_subcreated_list{
	float: left;
	width: 25%;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

#board_subcount_list{
	float: left;
	width: 10%;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

#board_pagecount{
	border-top: 2px solid #cccccc;
}


#board-sample{
	text-align: center;
}

#board_button > li{
	float: left;
	margin-right: 5px;
}