@charset "UTF-8";
*{
	margin: 0; padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
a:hover, a:active{
	text-decoration : none;
}

.articlebtn{
	color: #333333;
	font-weight: 500;
	font-family: "맑은 고딕", 나눔고딕, 돋움, sans-serif;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	padding: 3px 10px 5px;
	border-radius: 7px;
	margin: 20px 15px;
	width: 150px;
	height: 35px;
}

.articlebtn:hover, .articlebtn:focus, .articlebtn:active .articlebtn:visited{
	border: 1px solid #cccccc;
	font-weight: bold;
	text-decoration: underline;
	font-size: 15px;
}

.noticebar{
	width: 100%;
	height: 10px;
	border-bottom: 2px solid #cccccc;
}


.noticearticle{
	border-top: 1px solid black;
	width: 100%;
	margin: 90px 1px 1px 1px;
	
}
.noticearticle1{
	border-top: 1px solid black;
	width: 100%;
	margin: 30px 1px 1px 1px;
	
}
.noticearticletitle{
	border-top: 1px solid black;
}

.noticearticletitle td{
	border-bottom: 1px solid black;
	padding: 1px 20px;
}
.noticearticletitle1{
	background-color: #fafafa;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 40px;
	text-align: center;
	width: 130px;
	font-weight: bold;
}
.noticearticletitle2{
	background-color: #fafafa;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 40px;
	text-align: center;
	width: 130px;
	font-weight: bold;
}

.notice-content{
	padding: 80px 30px 250px 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.articleReadDto{
	font-size: 15px;
	height: 80px;
	line-height: 40px;
	font-family: "나눔 고딕";
}

.articleReadDto:hover{
	text-decoration : none;
	font-weight: bold;
}

.notice-content1{
	padding: 30px 30px 30px 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

		ul.style11
		{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
			ul.style11 li
			{
				padding: 0.60em 0em;
				border-top: 1px solid;
				border-color: rgba(0,0,0,.1);
			}
			
			ul.style11 li:first-child
			{
				padding-top: 0;
				border-top: 0;
			}


.style11 >li>a{
	display: inline-block;
	position: relative;
	width: auto;
	height: 35px;
	padding: 11px 0 0 18px;
	color: #5a5a5a;
	letter-spacing: -1px;
	font-size: 12px;
	font-weight: bold;
	background-color: #fff;
}



.style11 >li :hover {
	color: black;
	border-style: outset;
	border-bottom: 2px solid #048249;
	font-size: 14px;
}

.style11 :after {
	content: '';
	position: absolute;
	
}

.question2{
	border-bottom: 1px solid #cccccc;
}

.question :hover {
	background: #e7e7e7;
}