@charset "UTF-8";
.homepage #main{
   margin-top: 0em;
    padding-top: 0em;
}
#receipt_header{
	width: 100%;
	height: 200px;
}

#receipt_state1{
	width: 70%;
	height: 40px;
}

#receipt_logo {
	width: 30%;
	background: url(../images/travel.png) no-repeat center;
	background-size: contain;
}

#receipt_title{
	font-weight: bold;
	font-size: 30px;
	height: 100px;
}

#receipt_state2{
	text-align: right;
	padding-right: 30px;
}

#receipt_info{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#receipt_info_title{
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #cccccc;
}

#receipt_info_question{
	background: #EAEAEA;
	width: 16%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#receipt_info_answer{
	padding-left: 10px;
	width: 16%;
	border-bottom: 1px solid #cccccc;
}

#receipt_report{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#receipt_report_num{
	width: 7%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#receipt_report_group{
	width: 13%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center;	
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#receipt_report_info{
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#receipt_report_question{
	width: 15%;
	background: #EAEAEA;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
	font-weight: bold;
}

#receipt_report_answer{
	width: 25%;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
}

#receipt_cost{
	color: red;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: right;
}

#receipt_cost tr td {
	padding-right: 50px;
}


#traveler_title{
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
}

#traveler_title_sub{
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	border-bottom: 3px solid #cccccc;
}

#travler_info{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#travler_info_question{
	width: 13%;
	background: #EAEAEA;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
}

#travler_info_name{
	width: 37%;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_birth{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_tel{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_email{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#resetpayment{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#travler_button{
	width: 100%;
	text-align: right;
}

#resetpayment_title{
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #cccccc;
	font-weight: bold;
}

#resetpayment_question{
	background: #EAEAEA;
	height: 40px;
	width: 13%;
	padding-left: 10px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#resetpayment_answer{
	height: 40px;
	width: 22%;
	padding-left: 10px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#resetpayment_condition{
	width: 65%;
	height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}


#travler_button button{
	height: 30px;
	margin-right: 5px;
}

#statement_dialog{
	display: none;
	vertical-align:middle;
}

#statement_table{
	width: 100%;
	margin-top: 20px;
	border-top: 3px solid #cccccc;
}

#statement_info_question{
	text-align:right;
	padding-right: 10px;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	width: 20%;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}	

#statement_info_question1{
	text-align:right;
	padding-right: 10px;
	height: 80px;
	line-height: 80px;
	background: #EAEAEA;
	width: 20%;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}	


#statement_info_answer{
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
	width: 80%;
	border-bottom: 1px solid #cccccc;
}
	
#statement_report{
	width: 100%;
	margin-top: 20px;
}

#statement_report_title{
	font-size: 18px;
	font-weight: bold;
}

#statement_report_date1{
	background: #EAEAEA;
	height: 30px;
	border-top: 3px solid #cccccc;
	border-right: 1px solid #cccccc;
	width: 20%;
	text-align: center;
	font-weight: bold;
}

#statement_report_productName1{
	background: #EAEAEA;
	height: 30px;
	border-top: 3px solid #cccccc;
	border-right: 1px solid #cccccc;
	width: 65%;
	text-align: center;
	font-weight: bold;
}

#statement_report_productCount1{
	background: #EAEAEA;
	height: 30px;
	border-top: 3px solid #cccccc;
	width: 15%;
	text-align: center;
	font-weight: bold;
}

#statement_report_date2{
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	text-align: center;
}

#statement_report_productName2{
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding-left: 10px;
}

#statement_report_productCount2{
	border-top: 1px solid #cccccc;
	text-align: center;
}

#statement_report_cost1{
	border-top: 1px solid #cccccc;
	text-align: right;
}
	
#statement_report_cost2{
	border-bottom: 1px solid #cccccc;
	text-align: right;
	color: red;
}

#statement_notice{
	width: 100%;
	margin-top: 20px;
}

#statement_notice_title{
	font-size: 18px;
	font-weight: bold;
}

#statement_notice_date1{
	background: #EAEAEA;
	height: 30px;
	width: 20%;
	border-top: 3px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	text-align: center;
	font-weight: bold;
}

#statement_notice_date2{
	height: 30px;
	width: 80%;
	border-top: 3px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}