@charset "UTF-8";
.homepage #main{
   margin-top: 0em;
    padding-top: 0em;
}
#reservation_header{
	width: 100%;
	height: 200px;
}

#reservation_state1{
	width: 70%;
	height: 40px;
}

#reservation_logo {
	width: 30%;
	background: url(../images/travel.png) no-repeat center;
	background-size: contain;
}

#reservation_title{
	font-weight: bold;
	font-size: 30px;
	height: 100px;
}

#reservation_state2{
	text-align: right;
	padding-right: 30px;
}

#reservation_info{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#reservation_info_title{
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #cccccc;
}

#reservation_info_question{
	background: #EAEAEA;
	width: 16%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#reservation_info_answer{
	padding-left: 10px;
	width: 16%;
	border-bottom: 1px solid #cccccc;
}

#reservation_report{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#reservation_report_num{
	width: 7%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#reservation_report_group{
	width: 13%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center;	
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#reservation_report_info{
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #EAEAEA;
	text-align: center; 
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}
.addPrice{
	color: red;
}

.addPrice1{
	color: red;
}

#reservation_report_question{
	width: 15%;
	background: #EAEAEA;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
	font-weight: bold;
}

#reservation_report_answer{
	width: 25%;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
}

#reservation_report_answer span{
	color : blue;
}

#agreement {
	
}

#traveler_title{
	font-weight: bold;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
}

#traveler_title_sub{
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #cccccc;
	font-weight: bold;
}

#travler_info{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#travler_info_question{
	width: 13%;
	background: #EAEAEA;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
}

#travler_info_name{
	width: 37%;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_name input{
	width: 200px;
	height: 25px;
}

#travler_info_birth{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_birth input{
	width: 80px;
	height: 25px;
}

#travler_info_tel{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_tel input{
	width: 80px;
	height: 25px;
}

#travler_info_email{
	width: 37%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom: 1px solid #cccccc;
}

#travler_info_email input{
	width: 80px;
	height: 25px;
}

#travler_button{
	width: 100%;
	text-align: right;
}

#travler_button button{
	height: 30px;
	padding: 5px 10px 5px 10px;
}

#startSeat_dialog{
	display: none;
	vertical-align:middle;
}

#endSeat_dialog{
	display: none;
	vertical-align:middle;
}